#_qdV4M {
  background-color: #514848;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M {
    height: 140px;
  }
}

#_qdV4M ._1B2qL {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #514848;
  color: #fff;
  padding: 23px 0 17px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._1B2qL {
    width: 990px;
    padding: 53px 0 40px;
  }
}

#_qdV4M ._1W3uT {
  position: relative;
  display: block;
  width: 168px;
}

#_qdV4M ._1W3uT a {
  display: block;
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/42637c8a63a824b2d09eb132c380d3aa.svg) center no-repeat;
  height: 43.3px;
  width: 131.4px;
}

#_qdV4M ._1W3uT::before {
  border-left: 1px solid #fff;
  content: '';
  height: 43.3px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
}

#_qdV4M ._36Xgk {
  position: relative;
  margin: 0 auto;
  font-size: 15px;
  padding-left: 0;
  line-height: 25px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk {
    width: 600px;
    padding-left: 40px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

#_qdV4M ._36Xgk a {
  color: #D8D8D8;
  text-align: left;
  font: inherit;
  padding: 0 9px;
  border-left: 1px solid;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk a {
    color: #fff;
  }
}

#_qdV4M ._36Xgk a:first-child {
  padding-left: 0;
  border: 0;
}

#_qdV4M ._36Xgk a:last-child {
  padding-right: 0;
}

#_qdV4M ._7vG5K {
  white-space: nowrap;
}

#_qdV4M ._7vG5K ._1n8HS {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

#_qdV4M ._7vG5K ._2C4rE {
  font-size: 12px;
  position: absolute;
  top: -13px;
  width: 61px;
  left: -7px;
  height: 13px;
  line-height: 13px;
  text-align: justify;
  -ms-transform: scale(0.75);
      transform: scale(0.75);
}

#_qdV4M ._7vG5K ._2C4rE::after {
  content: '';
  display: inline-block;
  width: 100%;
}

#_qdV4M ._7vG5K ._11SpT {
  background-size: 44px 44px;
  display: inline-block;
  height: 44px;
  margin-top: 3px;
  width: 44px;
  text-indent: -5000px;
  /* hide inner text */
}

#_qdV4M ._7vG5K ._2WAgR {
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/4d56f9845711a9318f29a8674173e13b.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._1PYxM {
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/5e48bf6e14d2a141e5b2412782e207f7.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._13are {
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/25a80a4dd72309de0de04ee583f3fb08.svg) center no-repeat;
}

#_qdV4M ._P9DLg {
  font: inherit;
  display: block;
  margin-top: 22px;
  line-height: 12px;
  font-size: 11px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._P9DLg {
    margin-top: 3px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  #_qdV4M ._1uLvu {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._2pljx {
    display: none;
  }
}
._2F-js {
  z-index: 99;
  position: fixed;
  width: 36px;
  height: 36px;
  right: calc((100vw - 1200px) / 2 - 65px);
  background-color: #666;
  border-radius: 50%;
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  cursor: pointer;
  outline: none;
}

._1PaLf {
  right: calc((100vw - 1200px) / 2 - 75px);
}

@media only screen and (max-width: 1300px) {
  ._2F-js {
    right: calc((100vw - 990px) / 2 - 65px);
  }
  ._1PaLf {
    right: calc((100vw - 990px) / 2 - 75px);
  }
}

._2F-js::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  display: block;
  width: 10px;
  height: 10px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

#_qdV4M {
  background-color: #514848;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M {
    height: 140px;
  }
}

#_qdV4M ._1B2qL {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #514848;
  color: #fff;
  padding: 23px 0 17px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._1B2qL {
    width: 990px;
    padding: 53px 0 40px;
  }
}

#_qdV4M ._1W3uT {
  position: relative;
  display: block;
  width: 168px;
}

#_qdV4M ._1W3uT a {
  display: block;
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/42637c8a63a824b2d09eb132c380d3aa.svg) center no-repeat;
  height: 43.3px;
  width: 131.4px;
}

#_qdV4M ._1W3uT::before {
  border-left: 1px solid #fff;
  content: '';
  height: 43.3px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
}

#_qdV4M ._36Xgk {
  position: relative;
  margin: 0 auto;
  font-size: 15px;
  padding-left: 0;
  line-height: 25px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk {
    width: 600px;
    padding-left: 40px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

#_qdV4M ._36Xgk a {
  color: #D8D8D8;
  text-align: left;
  font: inherit;
  padding: 0 9px;
  border-left: 1px solid;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk a {
    color: #fff;
  }
}

#_qdV4M ._36Xgk a:first-child {
  padding-left: 0;
  border: 0;
}

#_qdV4M ._36Xgk a:last-child {
  padding-right: 0;
}

#_qdV4M ._7vG5K {
  white-space: nowrap;
}

#_qdV4M ._7vG5K ._1n8HS {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

#_qdV4M ._7vG5K ._2C4rE {
  font-size: 12px;
  position: absolute;
  top: -13px;
  width: 61px;
  left: -7px;
  height: 13px;
  line-height: 13px;
  text-align: justify;
  -ms-transform: scale(0.75);
      transform: scale(0.75);
}

#_qdV4M ._7vG5K ._2C4rE::after {
  content: '';
  display: inline-block;
  width: 100%;
}

#_qdV4M ._7vG5K ._11SpT {
  background-size: 44px 44px;
  display: inline-block;
  height: 44px;
  margin-top: 3px;
  width: 44px;
  text-indent: -5000px;
  /* hide inner text */
}

#_qdV4M ._7vG5K ._2WAgR {
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/4d56f9845711a9318f29a8674173e13b.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._1PYxM {
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/5e48bf6e14d2a141e5b2412782e207f7.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._13are {
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/25a80a4dd72309de0de04ee583f3fb08.svg) center no-repeat;
}

#_qdV4M ._P9DLg {
  font: inherit;
  display: block;
  margin-top: 22px;
  line-height: 12px;
  font-size: 11px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._P9DLg {
    margin-top: 3px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  #_qdV4M ._1uLvu {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._2pljx {
    display: none;
  }
}
._3U6O0 {
  z-index: 99;
  width: 70px;
  position: fixed;
  right: calc((100vw - 1200px) / 2 - 65px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(102, 102, 102, 0.94);
  border-radius: 2px 2px 0 2px;
}

._211cM {
  right: calc((100vw - 1200px) / 2 - 75px);
  width: 80px;
}

._3U6O0::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: -12px;
  border-style: solid;
  border-width: 0 16px 12px 0;
  border-color: transparent rgba(102, 102, 102, 0.94) transparent transparent;
}

._3U6O0 ._2Jy0n {
  padding: 10px 12px;
  text-align: right;
  font-size: 14px;
  color: #fff;
  outline: none;
  display: block;
  position: relative;
}

._3U6O0 ._2Jy0n:not(:last-child)::after {
  border-bottom: 1px solid #fff;
  bottom: -2px;
  content: '';
  height: 1px;
  left: 10px;
  opacity: 0.3;
  position: absolute;
  width: 50px;
}

._3U6O0 ._2mvAQ:not(:last-child)::after {
  left: 12px;
  width: 56px;
}

._3U6O0 ._2Jy0n:hover {
  background-color: #e03f19;
  transition: background-color 0.2s ease;
}

._3U6O0 ._2Jy0n:hover::after {
  opacity: 0;
}

@media only screen and (max-width: 1300px) {
  ._3U6O0 {
    right: calc((100vw - 990px) / 2 - 65px);
  }
  ._211cM {
    right: calc((100vw - 990px) / 2 - 75px);
  }
}

._QaWlp {
  z-index: 99;
  position: fixed;
  width: 36px;
  height: 36px;
  right: calc((100vw - 1200px) / 2 - 65px);
  background-color: #666;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

._1GNz9 {
  right: calc((100vw - 1200px) / 2 - 75px);
}

@media only screen and (max-width: 1300px) {
  ._QaWlp {
    right: calc((100vw - 990px) / 2 - 65px);
  }
  ._1GNz9 {
    right: calc((100vw - 990px) / 2 - 75px);
  }
}

._QaWlp ._yHZvZ {
  position: relative;
  border-radius: 1px;
  top: 0;
  left: 10px;
  width: 16px;
  height: 2px;
  background: #fff;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

._QaWlp ._yHZvZ:nth-of-type(1) {
  top: 8px;
}

._QaWlp ._yHZvZ:nth-of-type(3) {
  top: -8px;
}

._QaWlp._1isZc ._yHZvZ {
  position: relative;
  transition: all 200ms ease-in-out;
}

._QaWlp._1isZc ._yHZvZ:nth-of-type(1) {
  top: 2px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

._QaWlp._1isZc ._yHZvZ:nth-of-type(2) {
  opacity: 0;
}

._QaWlp._1isZc ._yHZvZ:nth-of-type(3) {
  top: -2px;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._3LfcX a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div > a._2H_kF::after,
#_2SRO2 ._3wxEr:not(._GG7q8) > div > span._2H_kF::after, #_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._2H_kF::after {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

#_2SRO2:after {
  content: '';
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #54b5c6 60%, #e03f19 60%, #e03f19 90%, #ffb43e 90%);
  z-index: 2;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div > a._2H_kF,
#_2SRO2 ._3wxEr:not(._GG7q8) > div > span._2H_kF, #_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._2H_kF {
  padding-right: 45px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div > a._2H_kF::after,
#_2SRO2 ._3wxEr:not(._GG7q8) > div > span._2H_kF::after, #_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._2H_kF::after {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/5d6ac781ac2672ca83a594041dcdd43c.svg) center no-repeat;
  content: '';
  display: block;
  height: 16px;
  right: 10px;
  width: 30px;
}

#_2SRO2 {
  background-color: #fff;
  display: block;
  height: 110px;
  position: relative;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 0 0 #c0c0c0;
}

#_2SRO2 ._1GCgR {
  background-color: #e0e0e0;
  display: block;
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

#_2SRO2 ._1Jtol {
  height: 110px;
  margin: 0 auto;
  width: 1200px;
}

#_2SRO2 ._3wxEr {
  font: inherit;
  text-align: left;
}

#_2SRO2 ._3wxEr._3ulCb {
  position: fixed;
  width: 1200px;
  left: 50%;
  -ms-transform: translate(-50%);
      transform: translate(-50%);
  z-index: 51;
}

#_2SRO2 ._3wxEr:not(._GG7q8) {
  display: block;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div {
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  z-index: 1;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._37HAC {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/71ebd68b8df9e895a44be18f5b4a10f8.svg) center no-repeat;
  height: 3px;
  opacity: 0.6;
  position: absolute;
  right: 5px;
  top: 16px;
  width: 5px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover {
  /* popup menu mouse movement hover UX enhancement */
  /* end of enhancement */
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover::before {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: -34px;
  top: 14px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  width: 0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover + div {
  z-index: 0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover._1Z5Aq > ._2jyB4,
#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover > ._2jyB4 {
  font-weight: normal;
  background-color: #545454;
  color: #fff;
  opacity: 0.96;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover ._37HAC {
  opacity: 0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div:hover ._1APmD {
  display: block;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div > a,
#_2SRO2 ._3wxEr:not(._GG7q8) > div > span {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #545454;
  display: block;
  font-size: 15px;
  line-height: 36px;
  padding: 0 17px;
  position: relative;
  will-change: background-color;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div._1Z5Aq > ._2jyB4 {
  color: #1e1e1e;
  font-weight: 600;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div._1Z5Aq:not(:first-child) {
  background-color: #e0e0e0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div._1Z5Aq ._37HAC {
  opacity: 0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD {
  background: #333;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  display: none;
  height: 405px;
  left: 0;
  opacity: 0.96;
  overflow: hidden;
  position: absolute;
  top: 36px;
  width: 430px;
  z-index: 100;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo {
  background-color: #545454;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a {
  color: #fff;
  display: block;
  font-size: 15px;
  height: 35px;
  padding: 7px 18px;
  position: relative;
  text-align: left;
  line-height: 22px;
  white-space: nowrap;
  will-change: background-color;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a:not(:last-child)::after {
  border-bottom: 1px solid #fff;
  bottom: -2px;
  content: '';
  height: 1px;
  left: 13px;
  opacity: 0.3;
  position: absolute;
  width: 94px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a:hover {
  background-color: #e03f19;
  transition: background-color 0.2s ease;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a:hover::after {
  opacity: 0;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a._2TGF6 {
  position: relative;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._2JnIo > a._2TGF6::after {
  background-size: 36px 17px;
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/9f49bd4744c21221beb6dc688fa7a964.png) center no-repeat;
  content: '';
  display: block;
  height: 17px;
  position: absolute;
  right: 0;
  top: 12px;
  width: 36px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._3LfcX {
  background: #f7f8fa;
  display: block;
  height: 100%;
  margin-left: 120px;
  padding: 5px 0;
  position: relative;
  text-align: left;
  width: 310px;
  opacity: 0.94;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._3LfcX h5 {
  border-bottom: 1px solid #d9d9d9;
  color: #000;
  display: inline-block;
  font-size: 17px;
  line-height: 2;
  margin: 0 20px 10px;
  padding-bottom: 2px;
  width: 270px;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._3LfcX a {
  color: #545454;
  display: block;
  font-size: 15px;
  line-height: 35px;
  padding: 0 20px;
  text-align: left;
}

#_2SRO2 ._3wxEr:not(._GG7q8) > div ._1APmD ._3LfcX a:hover {
  color: #fff;
  background: #e03f19;
}

#_2SRO2 ._26crt {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 74px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px 0 21px;
}

#_2SRO2 ._26crt ._g8UAG {
  -ms-flex-align: end;
      align-items: flex-end;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#_2SRO2 ._26crt ._1AtfL {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/ac25a5abb8fcbdfddb46fa4e9bca6b06.svg) center no-repeat;
  display: inline-block;
  height: 39px;
  margin-right: 6px;
  margin-bottom: 1px;
  width: 118.3px;
}

#_2SRO2 ._26crt ._3lW78 {
  background-color: #e03f19;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 24px;
  line-height: 25px;
  padding: 0 8px;
}

#_2SRO2 ._26crt ._3nBCF {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
}

#_2SRO2 ._26crt ._swV7A {
  font: inherit;
}

#_2SRO2 ._26crt ._swV7A li {
  font: inherit;
  display: inline-block;
  height: 26px;
  line-height: 26px;
}

#_2SRO2 ._26crt ._swV7A a {
  color: #000;
  font-size: 13px;
  padding: 0 10px;
}

#_2SRO2 ._26crt ._swV7A a:hover {
  color: #545454;
}

#_2SRO2 ._26crt ._swV7A li + li > a {
  border-left: #fff solid 1px;
}

#_2SRO2 ._34URG {
  margin-left: 19px;
  position: relative;
}

#_2SRO2 ._34URG input {
  background-color: #eeeeee;
  border-radius: 14px;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  font-size: 13px;
  height: 26px;
  line-height: 2;
  padding: 0 12px;
  width: 220px;
}

#_2SRO2 ._34URG input::-webkit-input-placeholder {
  color: #000;
}

#_2SRO2 ._34URG input:-ms-input-placeholder {
  color: #000;
}

#_2SRO2 ._34URG input::placeholder {
  color: #000;
}

#_2SRO2 ._34URG button {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/4b3f19ffc01685780823d0f3dc731cac.svg) center no-repeat;
  border: 0;
  cursor: pointer;
  height: 12px;
  position: absolute;
  right: 9px;
  top: 8px;
  width: 12px;
}

#_2SRO2 ._vQw6a {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  height: 74px;
  z-index: 50;
  box-shadow: 0 1px 0 0 #c0c0c0;
}

#_2SRO2 ._vQw6a._1VC46 {
  height: 36px;
}

#_2SRO2 ._3Acd3 {
  background-color: #e0e0e0;
  border-bottom: 1px solid #d8d8d8;
  height: 38px;
  min-width: 100%;
}

#_2SRO2 ._2aFMd {
  margin: 0 auto;
  white-space: nowrap;
  width: 100%;
}

#_2SRO2 ._2aFMd._3ulCb {
  background-color: #e0e0e0;
  display: block;
  opacity: 1;
  position: fixed;
  top: 0;
  -ms-transform: translateY(0);
      transform: translateY(0);
  transition: transform 0.15s ease-in-out;
  width: 100%;
  will-change: opacity;
  z-index: 50;
}

#_2SRO2 ._2aFMd._1VC46 {
  -ms-transform: translateY(36px);
      transform: translateY(36px);
}

#_2SRO2 ._2aFMd ._GG7q8 {
  background-color: #e0e0e0;
  border-bottom-color: transparent;
  margin: 0 auto;
  width: 1200px;
  opacity: 0.96;
}

#_2SRO2 ._2aFMd ._GG7q8 ._1wbxF:hover > a._37HAC {
  background-color: #545454;
}

#_2SRO2 ._2aFMd ._GG7q8 ._1wbxF > a {
  color: #1e1e1e;
  will-change: background-color;
}

#_2SRO2 ._2aFMd ._GG7q8 ._1wbxF > a > ._1MKPP > a {
  color: #545454;
  background-color: #f7f8fa;
  opacity: 0.96;
}

#_2SRO2 ._2aFMd ._GG7q8 ._1wbxF > a > ._1MKPP > a._1Z5Aq, #_2SRO2 ._2aFMd ._GG7q8 ._1wbxF > a > ._1MKPP > a:hover {
  background-color: #e03f19;
  color: #fff;
}

#_2SRO2 ._2aFMd._3NyqV {
  opacity: 0;
  -ms-transform: translateY(-100%);
      transform: translateY(-100%);
  z-index: -1;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF {
  color: #686868;
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
  position: relative;
  vertical-align: top;
  will-change: backgroud-color;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a {
  color: #e03f19;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a._37HAC {
  background-color: #f7f8fa;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  transition: background-color 0.15s ease-in-out;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a._37HAC._1Z5Aq {
  border-color: transparent;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > a._37HAC::after {
  opacity: 0;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF:hover > ._1MKPP {
  display: block;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a {
  border-bottom: 2px solid transparent;
  color: #686868;
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
  padding: 0 15px;
  position: relative;
  vertical-align: top;
  will-change: border-color;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._1Z5Aq {
  border-color: #e03f19;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > a._37HAC::after {
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/934f74cbbeb0bf6adbd98a255e151589.svg) center no-repeat;
  content: '';
  height: 3px;
  opacity: 0.6;
  position: absolute;
  right: 5px;
  top: 16px;
  width: 5px;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > ._1MKPP {
  background-color: #f7f8fa;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  opacity: 0.96;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > ._1MKPP > a {
  color: #545454;
  display: block;
  font-size: 14px;
  line-height: 36px;
  padding: 0 15px;
  text-align: left;
  white-space: nowrap;
}

#_2SRO2 ._2aFMd ._GG7q8 > ._1wbxF > ._1MKPP > a:hover {
  background-color: #e03f19;
  color: #fff;
}

@media only screen and (max-width: 1300px) {
  #_2SRO2 ._1Jtol {
    width: 1000px;
  }
  #_2SRO2 ._3wxEr {
    width: 1000px;
    margin: auto;
  }
  #_2SRO2 ._3wxEr._3ulCb {
    width: 1000px;
  }
  #_2SRO2 ._3wxEr:not(._GG7q8) > div > a,
  #_2SRO2 ._3wxEr:not(._GG7q8) > div > span {
    padding: 0 15px;
  }
  #_2SRO2 ._2aFMd ._GG7q8 {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  #_2SRO2 ._3wxEr._3ulCb {
    width: 100%;
    white-space: nowrap;
  }
}

#_qdV4M {
  background-color: #514848;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M {
    height: 140px;
  }
}

#_qdV4M ._1B2qL {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #514848;
  color: #fff;
  padding: 23px 0 17px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._1B2qL {
    width: 990px;
    padding: 53px 0 40px;
  }
}

#_qdV4M ._1W3uT {
  position: relative;
  display: block;
  width: 168px;
}

#_qdV4M ._1W3uT a {
  display: block;
  background-size: cover;
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/42637c8a63a824b2d09eb132c380d3aa.svg) center no-repeat;
  height: 43.3px;
  width: 131.4px;
}

#_qdV4M ._1W3uT::before {
  border-left: 1px solid #fff;
  content: '';
  height: 43.3px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
}

#_qdV4M ._36Xgk {
  position: relative;
  margin: 0 auto;
  font-size: 15px;
  padding-left: 0;
  line-height: 25px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk {
    width: 600px;
    padding-left: 40px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

#_qdV4M ._36Xgk a {
  color: #D8D8D8;
  text-align: left;
  font: inherit;
  padding: 0 9px;
  border-left: 1px solid;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._36Xgk a {
    color: #fff;
  }
}

#_qdV4M ._36Xgk a:first-child {
  padding-left: 0;
  border: 0;
}

#_qdV4M ._36Xgk a:last-child {
  padding-right: 0;
}

#_qdV4M ._7vG5K {
  white-space: nowrap;
}

#_qdV4M ._7vG5K ._1n8HS {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

#_qdV4M ._7vG5K ._2C4rE {
  font-size: 12px;
  position: absolute;
  top: -13px;
  width: 61px;
  left: -7px;
  height: 13px;
  line-height: 13px;
  text-align: justify;
  -ms-transform: scale(0.75);
      transform: scale(0.75);
}

#_qdV4M ._7vG5K ._2C4rE::after {
  content: '';
  display: inline-block;
  width: 100%;
}

#_qdV4M ._7vG5K ._11SpT {
  background-size: 44px 44px;
  display: inline-block;
  height: 44px;
  margin-top: 3px;
  width: 44px;
  text-indent: -5000px;
  /* hide inner text */
}

#_qdV4M ._7vG5K ._2WAgR {
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/4d56f9845711a9318f29a8674173e13b.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._1PYxM {
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/5e48bf6e14d2a141e5b2412782e207f7.svg) center no-repeat;
}

#_qdV4M ._7vG5K ._13are {
  background: url(https://sfiles.cnyes.cool/fe-common/9da53edad7/25a80a4dd72309de0de04ee583f3fb08.svg) center no-repeat;
}

#_qdV4M ._P9DLg {
  font: inherit;
  display: block;
  margin-top: 22px;
  line-height: 12px;
  font-size: 11px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._P9DLg {
    margin-top: 3px;
    line-height: 18px;
    font-size: 13px;
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  #_qdV4M ._1uLvu {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #_qdV4M ._2pljx {
    display: none;
  }
}

._1aXfC {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

._1aXfC ._2y-1y {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-align: stretch;
      align-items: stretch;
}

._1aXfC ._2y-1y ._18UZ3 {
  position: relative;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

._1aXfC ._2y-1y ._18UZ3 ._2Q-1U {
  position: absolute;
  width: 100%;
  height: 48px;
  bottom: 0;
  padding: 10px 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

._1aXfC ._2y-1y ._18UZ3 ._2Q-1U p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._1aXfC > button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  background-color: rgba(42, 193, 208, 0.3);
  border-radius: 18px;
}

._1aXfC > button:focus {
  outline: 0;
}

._1aXfC > button._3P45D {
  left: 16px;
  -ms-transform: translateY(-18px) rotate(45deg);
      transform: translateY(-18px) rotate(45deg);
}

._1aXfC > button._3P45D::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  display: block;
  width: 10px;
  height: 10px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

._1aXfC > button._xZkz6 {
  right: 16px;
  -ms-transform: translateY(-18px) rotate(-45deg);
      transform: translateY(-18px) rotate(-45deg);
}

._1aXfC > button._xZkz6::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 15px;
  display: block;
  width: 10px;
  height: 10px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

._1aXfC ._1N3xy {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  bottom: 44px;
}

._1aXfC ._1N3xy button._3oX-q {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background: white;
  margin: 16px 4px;
}

._1aXfC ._1N3xy button._3oX-q:focus {
  outline: 0;
}

._1aXfC ._1N3xy button._3oX-q._6DAY3 {
  background: #2AC1D0;
}

